---
import Link from "~/components/Link.astro";
interface Props {
  href: string;
  title?: string;
  description?: string;
  original?: string;
  originalPath?: string;
}
const { href, title, description, original, originalPath } = Astro.props;
---

<li un-flex="~ col gap-1 items-start">
  <h3 class="post-title!">
    <Link href={href} original={original} originalPath={originalPath}>
      {title}
    </Link>
  </h3>
  <p>{description}</p>
</li>
