---
import { formatDate } from "~/utils";
interface Props {
  post: Post;
}
const { post } = Astro.props;
const { translate: t } = Astro.locals;
const url = !post.data.original
  ? `/posts/${post.slug}/`
  : `https://${post.data.original}.songxingguo.com/${post.data.originalPath}`;
---

<article class="heti">
  <header>
    <h1 class="post-title!">
      <a href={url}
        >{post.data.title}
        {
          post.data.original == "garden" && (
            <span
              class="hint--top hint--success"
              aria-label="点击进入数字花园～"
            >
              🌱
            </span>
          )
        }
        {
          post.data.original == "brain" && (
            <span class="hint--top hint--error" aria-label="点击进入第二大脑～">
              🧠
            </span>
          )
        }</a
      >
    </h1>
    <div class="mt-2 text-3.5">
      <span>{t("posted_at")}</span>
      <time>{formatDate(post.data.date)}</time>
      {
        post.data.categories &&
          post.data.categories.map((category) => (
            <a class="ml-2.5" href={`/categories/${category}`}>
              # {category}
            </a>
          ))
      }
    </div>
  </header>
  <slot />
</article>
