---
import { formatDate } from "~/utils";
import Link from "~/components/Link.astro";
interface Props {
  post: Post;
}
const { post } = Astro.props;
const { translate: t } = Astro.locals;
---

<article class="heti">
  <header>
    <h1 class="post-title!">
      <Link
        href=`/posts/${post.slug}/`
        original={post.data.original}
        originalPath={post.data.originalPath}
      >
        {post.data.title}
      </Link>
    </h1>
    <div class="mt-2 text-3.5">
      <span>{t("posted_at")}</span>
      <time>{formatDate(post.data.date)}</time>
      {
        post.data.categories &&
          post.data.categories.map((category) => (
            <a class="ml-2.5" href={`/categories/${category}`}>
              # {category}
            </a>
          ))
      }
    </div>
  </header>
  <slot />
</article>
